
.main {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-between;

}
.block {
  justify-content: center;
  width: 900px;
  margin: 5px;
}
.block img {
  max-width: 500px;
}
.block video {
  width: 100%;
}
.Container {
  display: flex;
  
  justify-content: center;
}
.static {
   position: fixed;
  top: 5%;
  left: 40%;
   
    font-size: 20px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}